<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Okta SCIM Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Okta SCIM Example</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Users</th>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td>Given Name</td>
                        <td>Family Name</td>
                        <td>Username</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">User ID</td>
                        <td th:text="${user.givenName}">Given Name</td>
                        <td th:text="${user.familyName}">Family Name</td>
                        <td th:text="${user.userName}">Username</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
