<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Okta SCIM Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Okta SCIM Sample</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Users</h2>
            <table id="userTable" class="table table-striped" data-order='[[ 1, "asc" ]]'>
                <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">User ID</td>
                        <td th:text="${user.familyName}">Family Name</td>
                        <td th:text="${user.userName}">Username</td>
                        <td th:text="${user.givenName}">Given Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <h2>Groups</h2>
            <table id="groupTable" class="table table-striped" data-order='[[ 1, "asc" ]]'>
                <thead>
                <tr>
                    <th>Identifier</th>
                    <th>Display Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td th:text="${group.id}">Group ID</td>
                    <td th:text="${group.displayName}">Display Name</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <h2>Transactions</h2>
            <table id="logTable" class="table table-striped" data-order='[[ 1, "desc" ]]'>
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Status</th>
                    <th>Method</th>
                    <th>Endpoint</th>
                    <th>Handler</th>
                    <th>Body</th>
                    <th>Raw</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.timeStamp}">Timestamp</td>
                    <td th:text="${transaction.httpCode}">Status</td>
                    <td th:text="${transaction.method}">Method</td>
                    <td th:text="${transaction.endpoint}">Endpoint</td>
                    <td>
                        <button th:classappend="${transaction.javaMethod == null} ? disabled"
                                type="button" class="btn btn-info" data-toggle="modal" th:attr="data-target=${'#' + transaction.id} + '-handler'">View Handler</button>
                    </td>
                    <td>
                        <button th:classappend="${transaction.requestBody == '[unknown]' && transaction.responseBody == '[unknown]'} ? disabled"
                                type="button" class="btn btn-info" data-toggle="modal" th:attr="data-target=${'#' + transaction.id}">View Bodies</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" th:attr="data-target=${'#' + transaction.id} + '-raw'">View Raw</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <h2>Requests</h2>
            <table id="requestTable" class="table table-striped" data-order='[[ 1, "desc" ]]'>
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Method</th>
                    <th>Endpoint</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="request : ${requests}">
                    <td th:text="${request.timeStamp}">Timestamp</td>
                    <td th:text="${request.method}">Method</td>
                    <td th:text="${request.endpoint}">Endpoint</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:each="transaction : ${transactions}" th:id="${transaction.id}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 th:text="${'Transaction ' + transaction.id + ' bodies'}" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Request</h5>
                        <pre class=".body-container" th:text="${transaction.requestBody}"></pre>
                    </div>
                    <div class="col-sm-6">
                        <h5>Response</h5>
                        <pre class=".body-container" th:text="${transaction.responseBody}"></pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:each="transaction : ${transactions}" th:id="${transaction.id} + '-handler'" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 th:text="${'Transaction ' + transaction.id + ' handler'}" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <pre class=".body-container" th:text="${transaction.javaMethod}"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:each="transaction : ${transactions}" th:id="${transaction.id} + '-raw'" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 th:text="${'Transaction ' + transaction.id + ' raw'}" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <pre>
<code th:text="${'> ID: ' + transaction.id}"></code>
<code th:text="${'> Request ID: ' + transaction.requestId}"></code>
<code th:text="${'> Timestamp: ' + transaction.timeStamp}"></code>
<code th:text="${'> Method: ' + transaction.method}"></code>
<code th:text="${'> Endpoint: ' + transaction.endpoint}"></code>
<code th:text="${'> Response Code: ' + transaction.httpCode}"></code>
<code th:text="${'> Handler: ' + transaction.javaMethod}"></code>
<code th:text="${'> Request Body:'}"></code>
<code th:text="${transaction.requestBody}"></code>
<code th:text="${'> Response Body:'}"></code>
<code th:text="${transaction.responseBody}"></code>
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#userTable').DataTable();
        $('#groupTable').DataTable();
        $('#logTable').DataTable();
        $('#requestTable').DataTable();

        $('pre').each(function(i, el) {
            var content = $(el).text();
            try {
                content = JSON.parse(content);
                content = JSON.stringify(content, null, '\t');
            } catch (e) {

            }
            $(el).text(content);
        });
    });
</script>

</body>
</html>
